In [1]:
import pandas as pd
import sqlite3
import msgpack
import json
import csv

In [3]:
file_path = "original.csv"
data_csv = pd.read_csv(file_path, sep=',')
data_csv[0:10]

,Gender,Age,POLAR4 Quintile,POLAR3 Quintile,Adult HE 2001 Quintile,Adult HE 2011 Quintile,TUNDRA MSOA Quintile,TUNDRA LSOA Quintile,Gaps GCSE Quintile,Gaps GCSE Ethnicity Quintile,...,distance to university (km),Count of Module Area Logins,Total Hours in Module Area,% of Average Hours in Module Area,# of presence,# of Absence,Percent Attended,"label (fail=1, pass=0)",Unnamed: 20,Unnamed: 21
0,0.0,38.0,5.0,5.0,4.0,5.0,4.0,4.0,5.0,5.0,...,13.333806,19.0,7.41,0.620767,3.0,9.0,25.000000,1.0,NaN,NaN
1,0.0,22.0,4.0,2.0,1.0,3.0,4.0,4.0,4.0,5.0,...,15.844126,1.0,0.03,0.002513,0.0,12.0,0.000000,1.0,NaN,NaN
2,0.0,21.0,4.0,5.0,4.0,5.0,4.0,4.0,5.0,5.0,...,17.706573,25.0,6.14,0.514374,5.0,7.0,41.666667,1.0,NaN,NaN
3,0.0,25.0,5.0,4.0,3.0,4.0,3.0,3.0,5.0,5.0,...,17.327498,3.0,0.16,0.013404,0.0,12.0,0.000000,1.0,NaN,NaN
4,0.0,20.0,5.0,4.0,3.0,4.0,3.0,3.0,4.0,4.0,...,0.000000,25.0,4.03,0.337610,11.0,1.0,91.666667,1.0,NaN,NaN
5,0.0,20.0,4.0,2.0,1.0,1.0,4.0,4.0,5.0,5.0,...,35.288562,40.0,12.80,0.523126,9.0,3.0,75.000000,1.0,NaN,NaN
6,0.0,21.0,3.0,2.0,2.0,2.0,2.0,2.0,3.0,4.0,...,23.588636,38.0,8.37,0.342075,6.0,6.0,50.000000,1.0,NaN,NaN
7,0.0,20.0,4.0,4.0,3.0,4.0,3.0,3.0,5.0,5.0,...,3.259523,29.0,14.32,0.585247,9.0,2.0,75.000000,1.0,NaN,NaN
8,0.0,21.0,5.0,3.0,3.0,5.0,4.0,4.0,4.0,5.0,...,33.894937,55.0,18.46,0.754446,10.0,2.0,83.333333,1.0,NaN,NaN
9,0.0,23.0,5.0,4.0,3.0,4.0,3.0,3.0,5.0,5.0,...,317.327363,71.0,23.81,0.973096,9.0,3.0,75.000000,1.0,NaN,NaN