In [ ]:
# Считайте csv файл согласно вашему варианту. 
# Структура файла имеет следующий вид по колонкам в порядке их следования: 
# порядковый номер, имя, фамилия, возраст, доход, номер телефона.

# Необходимо выполнить следующие действия:
# 1)	Удалить колонку с номером телефона
# 2)	Рассчитайте средний доход по данным, а затем отфильтруйте те строки, доход которых меньше среднего.
# 3)	Также примените фильтр по колонке возраст, оставив строки со значением более 25 + (вариант mod10).

# Запишите полученные результаты в новый файл csv, произведя при этом сортировку по полю номер (по возрастанию):
      # заголовок для примера
      # id,name,age,salary
      # 1, Connor John, 25, 1000₽

In [1]:
import csv

In [32]:
filename = "text_4_var_17"

summa = 0
new_list = []

with open('text_4_var_17', newline='\n', encoding='utf-8') as f:
    data = csv.reader(f, delimiter=',')
    
    # убираем колонку с номером телефона
    for i in data:
        dict = {
            "id": int(i[0]),
            "name": i[2] + ' ' + i[1],
            "age": int(i[3]),
            "salary": int(i[4][:-1])
        }
        
        # сумма всего дохода
        summa += dict["salary"]
        new_list.append(dict)
    avage = summa/len(new_list)
    
    # фильтр по доходу ниже среднего и по возрасту 25 + (17mod10)
    filtr_list = []
    filtr_age = 25 + (17 % 10)
    for j in new_list:
        if j['salary'] >= avage and j['age'] > filtr_age:
            filtr_list.append(j)
            
# фильтруем по возрастанию полученные данные
finish_resulte = sorted(filtr_list, key = lambda x:x['id'])
print(finish_resulte)

[{'id': 6, 'name': 'Волкова Матвей', 'age': 50, 'salary': 63726}, {'id': 11, 'name': 'Жуков Маргарита', 'age': 51, 'salary': 87881}, {'id': 13, 'name': 'Петрова Антон', 'age': 76, 'salary': 85334}, {'id': 15, 'name': 'Дьяконов Элина', 'age': 60, 'salary': 80122}, {'id': 17, 'name': 'Антонов Николь', 'age': 63, 'salary': 74570}, {'id': 18, 'name': 'Родионова Элина', 'age': 48, 'salary': 92841}, {'id': 19, 'name': 'Лазарев Оливия', 'age': 41, 'salary': 54938}, {'id': 20, 'name': 'Попова Матвей', 'age': 71, 'salary': 96864}, {'id': 24, 'name': 'Синицын Кирилл', 'age': 63, 'salary': 55887}, {'id': 26, 'name': 'Прохорова Амина', 'age': 72, 'salary': 99726}, {'id': 28, 'name': 'Игнатьев Илья', 'age': 36, 'salary': 56041}, {'id': 29, 'name': 'Демидов Константин', 'age': 51, 'salary': 90152}, {'id': 34, 'name': 'Максимов Антон', 'age': 54, 'salary': 78881}, {'id': 35, 'name': 'Дмитриев Макар', 'age': 47, 'salary': 88370}, {'id': 41, 'name': 'Панова Алексей', 'age': 60, 'salary': 98224}, {'id': 42, 'name': 'Синицын Анна', 'age': 66, 'salary': 78071}, {'id': 46, 'name': 'Орлов Ника', 'age': 61, 'salary': 84174}, {'id': 49, 'name': 'Степанов Даниил', 'age': 38, 'salary': 64336}, {'id': 50, 'name': 'Дмитриева Ульяна', 'age': 62, 'salary': 59797}, {'id': 53, 'name': 'Косарев Кристина', 'age': 49, 'salary': 65587}, {'id': 56, 'name': 'Муравьев Глеб', 'age': 75, 'salary': 88127}, {'id': 57, 'name': 'Емельянов Алексей', 'age': 35, 'salary': 59706}, {'id': 61, 'name': 'Михайлов Наталья', 'age': 49, 'salary': 94667}, {'id': 64, 'name': 'Кулешова Полина', 'age': 39, 'salary': 78388}, {'id': 65, 'name': 'Тихонова Каролина', 'age': 69, 'salary': 63102}, {'id': 72, 'name': 'Фролов Алия', 'age': 64, 'salary': 59818}, {'id': 74, 'name': 'Григорьев Роберт', 'age': 41, 'salary': 98232}, {'id': 77, 'name': 'Петров Есения', 'age': 56, 'salary': 61141}, {'id': 80, 'name': 'Кузнецов Элина', 'age': 49, 'salary': 63759}, {'id': 81, 'name': 'Фирсов Вячеслав', 'age': 60, 'salary': 81678}, {'id': 82, 'name': 'Ефимова Ангелина', 'age': 67, 'salary': 81790}]

In [28]:
with open(filename+"result", 'w', newline='', encoding='utf-8') as f:
    writer = csv.writer(f, delimiter=',', quoting=csv.QUOTE_MINIMAL)

    for k in finish_resulte:
        writer.writerow(k.values())