In [1]:
# Дан набор файлов. 
# В одних содержится информация о некоторых товарах, которые нужно сохранить в соответствующей таблице базы данных. 
# В других (начинающихся с префикса upd) содержится информация об изменениях, которые могут задаваться разными командами: 
#    изменение цены, изменение остатков, снять/возврат продажи, удаление из каталога (таблицы). 
# По одному товару могут быть несколько изменений, поэтому при создании таблицы необходимо предусмотреть поле-счетчик, 
# которое инкрементируется каждый раз, когда происходит обновление строки. 
# Все изменения необходимо производить, используя транзакции, проверяя изменения на корректность 
# (например, цена или остатки после обновления не могут быть отрицательными)
# После записи всех данных и применения обновлений необходимо выполнить следующие запросы:
#   вывести топ-10 самых обновляемых товаров
#   проанализировать цены товаров, найдя (сумму, мин, макс, среднее) для каждой группы, а также количество товаров в группе
#   проанализировать остатки товаров, найдя (сумму, мин, макс, среднее) для каждой группы товаров
#   произвольный запрос

In [1]:
import pandas as pd
import sqlite3
import msgpack
import json
import csv

In [2]:
file_path = "task_4_var_17_update_data.csv"
data_csv = pd.read_csv(file_path, sep=';')
data_csv[0:3]

                   name         method param
0         nice plumbing   quantity_add   138
1   marvelous blueberry  price_percent  0.12
2  glamorous insulation      price_abs    -6

In [3]:
def connect_to_db(file):
    connection = sqlite3.connect(file)
    connection.row_factory = sqlite3.Row
    return connection

In [4]:
# Создание таблицы в базе данных
def create_table():
    conn = sqlite3.connect('database.db')
    c = conn.cursor()
    c.execute('''CREATE TABLE IF NOT EXISTS m_4
                  (id INTEGER PRIMARY KEY AUTOINCREMENT,
                  name TEXT,
                  price FLOAT,
                  quantity INTEGER,
                  category TEXT,
                  fromCity TEXT,
                  isAvailable TEXT,
                  views INTEGER,
                  update_counter INTEGER)''')
    conn.commit()
    conn.close()

In [5]:
# Чтение данных из файла msgpack в таблицу
def insert_data():
    conn = sqlite3.connect('database.db')
    c = conn.cursor()
    with open('task_4_var_17_product_data.msgpack', 'rb') as file:
        msgpack_data = msgpack.unpack(file)
        for data in msgpack_data:
            data['category'] = 'no'
            c.execute("INSERT INTO m_4 (name, price, quantity, category, fromCity, isAvailable, views, update_counter) VALUES (?, ?, ?, ?, ?, ?, ?, 0)",
                      (data['name'], data['price'], data['quantity'], data['category'], data['fromCity'], data['isAvailable'], data['views']))
    
    conn.commit()
    conn.close()

In [6]:
def update_insert_data():
    conn = sqlite3.connect('database.db')
    c = conn.cursor()
    with open('task_4_var_17_update_data.csv', 'r') as file:
        csv_data = csv.reader(file, delimiter=';')
        next(csv_data)  # Пропускаем заголовок CSV файла
        for row in csv_data:
            if len(row) >= 3:  # Проверяем, что строка содержит не менее трех значений
                name = row[0]
                method = row[1]
                param = row[2]
                
                # Выполняем соответствующие операции в зависимости от значения столбца "method"
                if method == 'available':
                    c.execute("UPDATE m_4 SET isAvailable = ?, update_counter = update_counter + 1 WHERE name = ?", (True if param else False, name))
                elif method == 'quantity_add':
                    c.execute("UPDATE m_4 SET quantity = quantity + ?, update_counter = update_counter + 1 WHERE name = ? AND quantity + ? >= 0", (param, name, param))
                elif method == 'price_percent':
                    c.execute("UPDATE m_4 SET price = ROUND(price * (1 + ?), 2), update_counter = update_counter + 1 WHERE name = ?", (param, name))
                elif method == 'price_abs':
                    c.execute("UPDATE m_4 SET price = MAX(price + ?, 0), update_counter = update_counter + 1 WHERE name = ? AND ((price + ?) >= 0)", (param, name, param))
                elif method == 'quantity_sub':
                    c.execute("UPDATE m_4 SET quantity = MAX(quantity - ?, 0), update_counter = update_counter + 1 WHERE name = ? AND ((quantity - ?) > 0)", (param, name, param))
                elif method == 'remove':
                    c.execute("DELETE FROM m_4 WHERE name = ?", (name,))
                else:
                    print("Неизвестный метод ", method)    
    
    conn.commit()
    conn.close()

In [7]:
# Функция для вывода топ-10 самых обновляемых товаров и записи в JSON
def top_10_updated_products():
    conn = sqlite3.connect('database.db')
    c = conn.cursor()
    c.execute("SELECT name, update_counter FROM m_4 ORDER BY update_counter DESC LIMIT 10")
    data = c.fetchall()
    conn.close()
    
    top_10_updated = [{'name': row[0], 'update_counter': row[1]} for row in data]
    
    with open('top_10_updated_products_4.json', 'w', encoding='utf-8') as file:
        json.dump(top_10_updated, file, ensure_ascii=False)

In [8]:
# Функция для анализа цен товаров и записи в JSON
def analyze_prices():
    conn = sqlite3.connect('database.db')
    c = conn.cursor()
    c.execute("SELECT category, SUM(price) AS total_price, MIN(price) AS min_price, MAX(price) AS max_price, AVG(price) AS avg_price, COUNT(*) AS num_products FROM m_4 GROUP BY category")
    data = c.fetchall()
    conn.close()
    
    price_analysis = [{'category': row[0], 'total_price': row[1], 'min_price': row[2], 'max_price': row[3], 'avg_price': row[4], 'num_products': row[5]} for row in data]
    
    with open('price_analysis_4.json', 'w', encoding='utf-8') as file:
        json.dump(price_analysis, file, ensure_ascii=False)

In [9]:
# Функция для анализа остатков товаров и записи в JSON
def analyze_quantity():
    conn = sqlite3.connect('database.db')
    c = conn.cursor()
    c.execute("SELECT category, SUM(quantity) AS total_quantity, MIN(quantity) AS min_quantity, MAX(quantity) AS max_quantity, AVG(quantity) AS avg_quantity FROM m_4 GROUP BY category")
    data = c.fetchall()
    conn.close()
    
    quantity_analysis = [{'category': row[0], 'total_quantity': row[1], 'min_quantity': row[2], 'max_quantity': row[3], 'avg_quantity': row[4]} for row in data]
    
    with open('quantity_analysis_4.json', 'w', encoding='utf-8') as file:
        json.dump(quantity_analysis, file, ensure_ascii=False)

In [10]:
# Функция для вывода топ-10 самых обновляемых товаров в Москве, Санкт-Петербурге и Астане и записи в JSON
def top_10_updated_products_cities():
    conn = sqlite3.connect('database.db')
    c = conn.cursor()
    
    cities = ['Москва', 'Санкт-Петербург', 'Астана']
    top_10_updated_cities = {}
    
    for city in cities:
        c.execute("SELECT name, update_counter FROM m_4 WHERE fromCity = ? ORDER BY update_counter DESC LIMIT 10", (city,))
        data = c.fetchall()
        top_10_updated_cities[city] = [{'name': row[0], 'update_counter': row[1]} for row in data]
    
    conn.close()
    
    with open('top_10_updated_products_cities_4.json', 'w', encoding='utf-8') as file:
        json.dump(top_10_updated_cities, file, ensure_ascii=False)

In [11]:
connect_to_db('database.db')
create_table()
insert_data()
update_insert_data()

In [12]:
top_10_updated_products()
analyze_prices()
analyze_quantity()
top_10_updated_products_cities()