In [1]:
# Найдите набор данных (csv, json), размер которого превышает 20-30Мб.
# Отберите для дальнейшей работы в нем 7-10 полей 
# (пропишите это преобразование в коде). 
# Для полей, представляющих числовые данные, рассчитайте характеристики: 
# максимальное и минимальное значения, 
# среднее арифметическое, 
# сумму, стандартное отклонение. 
# Для полей, представляющий текстовые данные 
# (в виде меток некоторых категорий) рассчитайте частоту встречаемости. 
# Сохраните полученные расчеты в json. 
# Сохраните набор данных с помощью разных форматов: csv, json, msgpack, pkl. 
# Сравните размеры полученных файлов.

In [39]:
import json
import pickle
import msgpack
import csv
import os
import pandas as pd
import collections

In [40]:
face = pd.read_csv('raw_counts.csv', encoding = 'windows-1251', low_memory=False)

In [41]:
face = face.rename(columns = {'': 'ID', 'DOX_C241 / 9522-MT-0001': 'MT-0001', 'DOX_C241 / 9522-MT-0002': 'MT-0002',
                              'CONTR_C241 / 9522-MT-0003': 'MT-0003',
                              'CONTR_C241 / 9522-MT-0004': 'MT-0004',
                              'DOX_4838 / 9522-MT-0005': 'MT-0005',
                              'DOX_4838 / 9522-MT-0006': 'MT-0006',
                              'CONTR_4838 / 9522-MT-0007': 'MT-0007',
                              'CONTR_4838 / 9522-MT-0008': 'MT-0008',
                              'DOX_C241 / 9522-MT-0009': 'MT-0009',
                              'DOX_C241 / 9522-MT-0010': 'MT-0010',
                              'CONTR_C241 / 9522-MT-0011': 'MT-0011',
                              'CONTR_C241 / 9522-MT-0012': 'MT-0012',
                              'DOX_4838 / 9522-MT-0013': 'MT-0013',
                              'DOX_4838 / 9522-MT-0014': 'MT-0014',
                              'CONTR_4838 / 9522-MT-0015': 'MT-0015',
                              'CONTR_4838 / 9522-MT-0016': 'MT-0016',
                              'DOX_C241 / 9522-MT-0017': 'MT-0017',
                              'DOX_C241 / 9522-MT-0018': 'MT-0018',
                              'CONTR_C241 / 9522-MT-0019': 'MT-0019',
                              'CONTR_C241 / 9522-MT-0020': 'MT-0020',
                              'DOX_4838 / 9522-MT-0021': 'MT-0021',
                              'DOX_4838 / 9522-MT-0022': 'MT-0022',
                              'CONTR_4838 / 9522-MT-0023': 'MT-0023',
                              'CONTR_4838 / 9522-MT-0024': 'MT-0024'
                             })

In [42]:
counts = face[['MT-0001', 'MT-0002', 'MT-0003', 'MT-0004', 'MT-0005', 'MT-0006', 'MT-0007', 'MT-0008', 'MT-0009', 'MT-0010', 'MT-0011', 'MT-0012', 'MT-0013', 'MT-0014', 'MT-0015', 'MT-0016', 'MT-0017', 'MT-0018', 'MT-0019', 'MT-0020', 'MT-0021', 'MT-0022', 'MT-0023', 'MT-0024']]

In [43]:
def calculate_statistics(face):
    result = []
    pd.set_option('display.float_format', '{:.2f}'.format)
    
    columns = ['MT-0001', 'MT-0002', 'MT-0003', 'MT-0004', 'MT-0005', 'MT-0006',
               'MT-0007', 'MT-0008', 'MT-0009', 'MT-0010', 'MT-0011', 'MT-0012',
               'MT-0013', 'MT-0014', 'MT-0015', 'MT-0016', 'MT-0017', 'MT-0018',
               'MT-0019', 'MT-0020', 'MT-0021', 'MT-0022', 'MT-0023', 'MT-0024']
    
    for column in columns:
        result.append({
            f'{column}_min': int(face[column].min()),
            f'{column}_max': int(face[column].max()),
            f'{column}_mean': int(face[column].mean()),
            f'{column}_std': int(face[column].std()),
            f'{column}_sum': int(face[column].sum()),
        })
    
    return result

In [76]:
# print(calculate_statistics(face))

In [77]:
result_1 = []
result_1.append(calculate_statistics(face))
# print(result_1)

In [78]:
face_1 = face['ensemblid']
f_1 = collections.Counter(face_1)
result_1.append(f_1)
# print(result_1)

In [79]:
face_2 = face['gene_symbol']
f_2 = collections.Counter(face_2)
result_1.append(f_2)
# print(result_1)

In [71]:
# Сохраняем полученный результат в json:
with open('result_17_5_2.json', 'w') as file:
    file.write(json.dumps(result_1))

In [72]:
# Сохраняем ИСХОДНЫЙ набор данных в разные форматы:
with open('face_5.json', 'w') as file:
    file.write(face.to_json(orient='split'))

In [73]:
face.to_pickle('face_5.pkl')

In [74]:
face.to_msgpack(face_5.msgpack)

AttributeError: 'DataFrame' object has no attribute 'to_msgpack'

In [75]:
print(f"json = {os.path.getsize('face_5.json')}")
print(f"msgpack = {os.path.getsize('face_5.msgpack')}")
print(f"pkl = {os.path.getsize('face_5.pkl')}")

json = 2494546
msgpack = 0
pkl = 3915426